@import '_fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.75rem;
    line-height: 3rem;
    font-weight: 400;
    font-family: PT Sans;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

header {
    height: 54px;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lang {
    font-family: Tourney;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0.055rem;
}