@import 'style';

.contribution--wrap {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }
    .contribution--content {
        position: relative;
        z-index: 1;
        padding: 93px 0;
        h2 {
            width: min(90%, 805px);
            color: #fff;
            margin: 0 auto 32px;
        }
        .contribution--btn--wrap {
            width: min(90%, 351px);
            margin-inline: auto;
            color: black;
            display: flex;
            justify-content: space-between;
            .btn--volonteer {
                width: 200px;
                height: 51px;
                background-color: $yellow-bg-color;
                border-radius: 4px;
                font-weight: 500;
                font-family: 'Roboto';
                font-size: 1rem;
                &:hover {
                    background-color: $yellow-light-bg-color;
                    border: 3px solid $yellow-bg-color;
                }
            }
            .btn--donate--white {
                width: 115px;
                height: 51px;
                background-color: #fff;
                border: 3px solid transparent;
                border-radius: 4px;
                a {
                    display: block;
                    width: 100%;
                    font-family: 'Roboto';
                    text-align: center;
                    font-weight: 500;
                    color: #000;
                    line-height: 45px;
                }
                &:hover {
                    border: 3px solid white;
                    background-color: rgba($color: #fff, $alpha: .6);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contribution--wrap {
        .contribution--content {
            padding: 60px 0;
            h2 {
                font-size: 2rem;
                font-weight: 500;
                line-height: 2.6rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .contribution--wrap {
        .contribution--content {
            padding-top: 40px;
            padding-bottom: 40px;
            h2 {
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: 26px;
            }
            .contribution--btn--wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }
    }
}