@import 'style';
@import 'hamburger';

header {
    height: 87px;
    background: #fff;
    .header--wrap {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo--wrap {
            width: 125px;
            height: 44px;
        }
        .nav--header {
            width: 497px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color: $secondary-text-color;
                font-size: 1rem;
                &:hover {
                    color: $primary-text-color;
                    font-weight: 700;
                }
            }
        }
        .btn--donate {
            width: 115px;
            height: 43px;
            background-color: $black-bg-color;
            color: #fff;
            border-radius: 4px;
            font-weight: 500;
            &:hover {
                border: 1px solid black;
                background-color: #fff;
                color: $primary-text-color;
            }
        }
    }
}

// Mobile menu + overlay
.page--overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($primary-text-color, $alpha: .7);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.mobile--panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: $yellow-light-bg-color;
    z-index: 1001;
    transform: translateX(-100%);
    transition: all .4s ease;
    .panel--top {
        height: 50px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    nav {
        overflow-y: auto;
        height: calc(100vh - 40px);
        li {
            text-align: center;
        }
    }
}

.mobile--menu {
    a {
        display: inline-block;
        width: 100%;
        font-family: 'Montserrat';
        font-size: 1.375rem;
        padding: 10px 20px;
        background-color: transparent;
        color: $primary-text-color;
        &:hover {
            color: white;
            background-color: $yellow-bg-color;
        }
    }
}

.hamburger {
    margin-left: 255px;
    margin-top: 5px;
}
.hamburger--wrapper {
    display: none;
    border: none;
    background-color: transparent;
}
#hamb--btn--mobile {
    display: block;
}

.open--mobile--menu {
    .page--overlay {
        opacity: 1;
        visibility: visible;
    }
    .mobile--panel {
        transform: translateX(0);
    }
}

.page--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

// Burger
// .burger-menu {
//     position: relative;
//     .burger-btn {
//         background: none;
//         border: none;
//         font-size: 24px;
//         cursor: pointer;
//     }
//     .menu {
//         display: none;
//         position: absolute;
//         top: 100%;
//         left: 0;
//         background-color: #fff;
//         padding: 10px;
//         border: 1px solid #ccc;
//         li {
//             list-style: none;
//             a {
//                 text-decoration: none;
//                 color: #333;
//             }
//         }
//     }
// }

@media screen and (max-width: 935px) {
    .header--wrap {
        display: flex;
        justify-content: space-between;
        nav {
            .nav--header {
                display: none;
                width: 50px;
            }
            .btn--donate {
                margin-right: 30px;
                display: none;
            }
        }
        .hamburger--wrapper {
            display: inline-block;
            margin-top: 5px;
        }
        .btn--donate {
            display: none;
        }
    }
}

@media screen and (max-width: 640px) {
    // .header--wrap {
    //     .nav--header {
    //         font-size: 0.2rem;
    //         li {
    //             width: 5px;
    //             margin: 0;
    //         }
    //     }
    // }
}