@import 'style';

// Header
@import 'header';

body {
    border: 1px solid red; 
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: $primary-text-color;
}

// First screen
.first--screen--section {
    background-image: url(../images/home-main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .main--title {
        width: min(90%, 640px);
        padding-top: 87px;
        margin-top: 87px;
        margin-bottom: 48px;
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.8rem;
        color: #fff;
    }
    .fs--btn--wrap {
        display: flex;
        justify-content: start;
        gap: 24px;
        margin-bottom: 192px;
        .wwd--link {
            width: 148px;
            height: 51px;
            text-align: center;
            background-color: #fff;
            border-radius: 4px;
            &:hover {
                background-color: rgba($color: #fff, $alpha: .4);
                a {
                    color: #fff;
                    transition: none;
                }
            }
            a {
                font-weight: 500;
                color: $primary-text-color;
                display: block;
                width: 100%;
                line-height: 51px;
            }
        }
        .play--link {
            margin-top: 12px;
            a {
                line-height: 1.6rem;
                font-weight: 500;
                color: #fff;
                &:hover {
                    font-weight: 700;
                    color: grey;
                    font-size: 1.125rem;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
        }
    }
    .qnt--donation--wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 64px;
        position: relative;
        div {
            font-size: 1.125rem;
            font-weight: 500;
            color: #fff;
        }
        .qnt--child {
            margin-right: 16px;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: 1px;
                background-color: #fff;
                transform: translateY(-50%);
            }
        }
    }
}

// About us 
.about--section {
    padding-bottom: 74px;
    .about--content--wrap {
        margin-top: 86px;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        margin-bottom: 94px;
        .about--text--content {
            margin: 94px 20px 32px 106px;
            margin-left: 106px;
            margin-top: 94px;
            width: min(100%, 608px);
            h2 {
                margin-bottom: 32px;
            }
            .about--description {
                line-height: 1.6rem;
                margin-bottom: 48px;
            }
            .learn--more--link {
                width: 146px;
                height: 51px;
                background-color: $yellow-bg-color;
                text-align: center;
                border-radius: 4px;
                border: 3px solid transparent;
                &:hover {
                    background-color: $yellow-light-bg-color;
                    border: 3px solid $yellow-bg-color;
                }
                a {
                    display: block;
                    font-weight: 500;
                    color: #000;
                    width: 100%;
                    line-height: 51px;
                }
            }
        }
        .about--video--content {
            width: min(45%, 480px);
            aspect-ratio: 48/59;
            position: relative;
            &::after {
                content: url(../images/play-icon-video.svg);
                width: 13%;
                // height: 13%;
                position: absolute;
                left: calc(50% - 32px);
                top: calc(50% - 32px);
                z-index: 2;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                // &:hover {
                //     cursor: pointer;
                // }
                img {
                    border-radius: 20px;
                }
            }
            
        }
    }
    @import 'supporters';
}

// What we do
.wwd--section {
    padding-top: 96px;
    .wwd--flex--wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 96px;
        .wwd--text--wrap {
            width: min(100%, 608px);
            margin-left: 95px;
            h3 {
                margin-bottom: 32px;
            }
            h2 {
                margin-bottom: 16px;
            }
            p {
                line-height: 1.6rem;
                margin-bottom: 32px;
            }
            .list--of--deals {
                li {
                    position: relative;
                    .wwd--icon {
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        top: 0;
                        left: -52px;
                    }
                    .wwd--list--title {
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: $primary-text-color;
                        margin-bottom: 8px;
                    }
                    p {
                        line-height: 1.6rem;
                        margin-bottom: 24px;
                    }
                }
            }
        }
        .wwd--img--wrap {
            width: min(100%, 480px);
            aspect-ratio: 48/66;
            margin-top: 52px;
            img {
                border-radius: 20px;
            }
        }
    }    
} 

// How we spend donation
.chart--section {
    padding-top: 142px;
    background-color: black;
    padding: 96px 0;
    margin-bottom: 96px;
    .chart--flex--wrap {
        display: flex;
        justify-content: space-between;
        .donation--info {
            width: min(100%, 626px);
            margin-bottom: 45px;
            h2 {
                color: white;
                margin-bottom: 16px;
            }
            p {
                line-height: 1.6rem;
                color: rgba(255, 255, 255, .6);
                margin-bottom: 32px;
            }
            .spending--statistic {
                display: grid;
                padding-left: 24px;
                grid-template-columns: repeat(3, auto);
                grid-template-rows: 1fr 1fr;
                gap: 16px 25px;
                li {
                    font-weight: 500;
                    line-height: 1.6rem;
                    color: #fff;
                    position: relative;
                    &::before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: -24px;
                        top: calc(50% - 8px);
                        border-radius: 4px;
                    }
                }
                .green {
                    &::before {
                        background-color: #BEF3C0;
                    }
                }
                .purple {
                    &::before {
                        background-color: #AC94F1;
                    }
                }
                .light--yellow {
                    &::before {
                        background-color: #FFF0CA;
                    }
                }
                .yellow {
                    &::before {
                        background-color: #F9CF64;
                    }
                }
                .rose {
                    &::before {
                        background-color: #F38FBF;
                    }
                }
            }
        }
        .donation--chart {
            width: min(80%, 375px);
            img {
                aspect-ratio: 1;
            }
        }
    }
} 

// Contribution
@import 'contribution';
.contribution--wrap {
    margin-bottom: 86px;
}     
                      

// Footer
@import 'footer'; 



// Adaptive
@media screen and (max-width: 1350px) {
    // About us
    .about--video--content {
        width: min(45%, 350px);
        aspect-ratio: 1;
    }
}

@media screen and (max-width: 1090px) {
    // About us
    .about--content--wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 54px;
        width: 100%;
        .about--text--content {
            margin: 94px 20px 32px 0px;
            width: min(90%, 900px);
        }
        .about--video--content {
            width: min(90%, 480px);
            aspect-ratio: 48/59;            
        }
    }
}

@media screen and (max-width: 1024px) {
    // What we do
    .wwd--flex--wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        padding-bottom: 96px;
        .wwd--text--wrap {
            width: 100%;
            margin-left: 0;
            .list--of--deals {
                display: flex;
                justify-content: start;
                gap: 30px;
                flex-wrap: wrap;
            }
        }
        .wwd--img--wrap {
            width: min(100%, 350px);
            // aspect-ratio: 1;
            margin-top: 0px;
            img {
                border-radius: 20px;
            }
        }
    }
}  
