@import 'style';

// Header
@import 'header';

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: $primary-text-color;
}

// First screen
.first--screen--section {
    background-image: url(../images/home-main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .main--title {
        width: min(90%, 640px);
        padding-top: 87px;
        margin-top: 87px;
        margin-bottom: 48px;
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.8rem;
        color: #fff;
    }
    .fs--btn--wrap {
        display: flex;
        justify-content: start;
        gap: 24px;
        margin-bottom: 192px;
        .wwd--link {
            width: 148px;
            height: 51px;
            text-align: center;
            background-color: #fff;
            border-radius: 4px;
            &:hover {
                background-color: rgba($color: #fff, $alpha: .4);
                a {
                    color: #fff;
                    transition: none;
                }
            }
            a {
                font-weight: 500;
                color: $primary-text-color;
                display: block;
                width: 100%;
                line-height: 51px;
            }
        }
        .play--link {
            margin-top: 12px;
            a {
                line-height: 1.6rem;
                font-weight: 500;
                color: #fff;
                &:hover {
                    font-weight: 700;
                    color: grey;
                    font-size: 1.125rem;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
        }
    }
    .qnt--donation--wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 64px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #fff;
            transform: translateY(-50%);
        }
        div {
            font-size: 1.125rem;
            font-weight: 500;
            color: #fff;
        }
    }
}

// About us
.about--content--wrap {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    .about--text--content {
        margin-left: 106px;
        margin-top: 94px;
        width: min(60%, 608px);
        h2 {
            margin-bottom: 32px;
        }
        .about--description {
            line-height: 1.6rem;
            margin-bottom: 48px;
        }
        .learn--more--link {
            width: 146px;
            height: 51px;
            background-color: $yellow-bg-color;
            text-align: center;
            border-radius: 4px;
            &:hover {
                background-color: $yellow-light-bg-color;
                border: 1px solid $yellow-bg-color;
                a {
                    color: $secondary-text-color;
                } 
            }
            a {
                display: block;
                font-weight: 500;
                color: #000;
                width: 100%;
                line-height: 51px;
            }
        }
    }
    .about--video--content {
        width: min(40%, 480px);
        aspect-ratio: 5/6;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.40);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            border-radius: 20px;
        }
        &::after {
            content: url(../images/play-icon-video.svg);
            width: 64px;
            height: 64px;
            position: absolute;
            left: calc(50% - 32px);
            top: calc(50% - 32px);
            z-index: 2;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            // &:hover {
            //     cursor: pointer;
            // }
            img {
                border-radius: 20px;
            }
        }
        
    }
}