@import 'style';

// Header
@import 'header';

// First screen
.first--screen--section {
    background-image: url(../images/home-main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .main--title {
        width: min(90%, 640px);
        padding-top: 87px;
        margin-top: 87px;
        margin-bottom: 48px;
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.8rem;
        color: #fff;
    }
    .fs--btn--wrap {
        display: flex;
        justify-content: start;
        gap: 24px;
        margin-bottom: 192px;
        .wwd--link {
            width: 148px;
            padding: 16px 0;
            text-align: center;
            background-color: #fff;
            border-radius: 4px;
            &:hover {
                background-color: rgba($color: #fff, $alpha: .4);
                a {
                    color: #fff;
                    transition: none;
                }
            }
            a {
                font-weight: 500;
                color: $primary-text-color;
            }
        }
        .play--link {
            margin-top: 12px;
            a {
                line-height: 1.6rem;
                font-weight: 500;
                color: #fff;
                &:hover {
                    font-weight: 700;
                    color: grey;
                    font-size: 1.125rem;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
        }
    }
    .qnt--donation--wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 64px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #fff;
            transform: translateY(-50%);
        }
        div {
            font-size: 1.125rem;
            font-weight: 500;
            color: #fff;
        }
    }
}

// About us
.about--content--wrap {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    .about--text--content {
        margin-left: 106px;
        margin-top: 94px;
    }
}