 @import url('_fonts.scss');

//  @import url('_mixins.scss'); 
@mixin fz($px){
    font-size: ($px / 16) * 1rem;
 };

 @mixin lh($lh){
    line-height: ($lh / 16) * 1rem;
 };

 $primary-text-color: #1D2130;
 $secondary-text-color: #525560;
 $yellow-bg-color: #F2C94C;
 $yellow-light-bg-color: #FCEDC6;
 $black-bg-color: #0B0706;


 *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button, a {
    transition: all .2s ease;
    border: none;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, 1280px);
    margin-inline: auto;
}

body {
    font-family: 'Roboto';
    color: $secondary-text-color;
    font-weight: 400;
    @include fz(16);
}

.page--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

main {
    flex-grow: 1;
}

.uppercase {
    text-transform: uppercase;
}

// Header
@import url('_header');


// First screen
.first--screen--section {
    background-image: url(../images/home-main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // height: 715px;
    .main--title {
        width: min(90%, 640px);
        padding-top: 87px;
        margin-top: 87px;
        margin-bottom: 48px;
        @include fz(64);
        font-weight: 700;
        @include lh(76.8);
        color: #fff;
    }
    .fs--btn--wrap {
        display: flex;
        justify-content: start;
        gap: 24px;
        margin-bottom: 192px;
        .wwd--link {
            width: 148px;
            padding: 16px 0;
            text-align: center;
            background-color: #fff;
            border-radius: 4px;
            &:hover {
                background-color: rgba($color: #fff, $alpha: .4);
                border: 1px solid white;
                a {
                    color: #fff;
                    transition: none;
                    font-weight: 700;
                }
            }
            a {
                font-weight: 500;
                color: $primary-text-color;
            }
        }
        .play--link {
            margin-top: 12px;
            a {
                @include lh(25.6);
                font-weight: 500;
                color: #fff;
                &:hover {
                    font-weight: 700;
                    color: grey;
                    @include fz(18);
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
            }
        }
    }
    .qnt--donation--wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 64px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px; /* Товщина лінії */
            background-color: #fff; /* Колір лінії */
            transform: translateY(-50%);
        }
        div {
            @include fz(18);
            font-weight: 500;
            color: #fff;
        }
    }
}

// About us
.about--content--wrap {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    .about--text--content {
        margin-left: 106px;
        margin-top: 94px;
    }
}