@import 'style';
@import 'header';

body {
    border: 1px solid red; 
}

// What we do 
.wwd--section {
    margin-top: 87px;
    .wwd--flex--wrap {
        display: flex;
        justify-content: space-between;
        padding: 76px 0 0 96px;
        margin-bottom: 96px;
        gap: 16px;
        .wwd--text--wrap {
            width: min(50%, 584px);
            h1 {
                font-size: 3.5rem;
                font-weight: 700;
                line-height: 4.2rem;
                color: $primary-text-color;
                width: 80%;
                margin-bottom: 34px;
            }
            p {
                line-height: 1.6rem;
            }
        }
        .wwwd--photo--wrap {
            width: 476px;
            height: 384px;
            img {
                border-radius: 20px;
            }
        }
    }
}

// Categories of assistance
.assistance--section {
    padding-top: 96px;
    h2 {
        margin-bottom: 64px;
    }
    .categories--wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 116px;
        margin-left: 48px;
        padding-bottom: 104px;
        ul {
            width: 332px;
            position: relative;
            color: $primary-text-color;
            .categories--name {
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 8px;
            }
            .categories--description {
                font-size: 0.875rem;
                line-height: 1.4rem;
            }
            .categories--icon {
                width: 28px;
                position: absolute;
                top: 0;
                left: -48px;
            }
        }
    }
}

// Our project
.project--section {
    h3 {
        margin-top: 56px;
        margin-left: 96px;
    }
    h2 {
        width: min(90%, 640px);
        margin-bottom: 65px;
        margin-left: 96px;
    }
}

// Contribution
@import 'contribution';


// Footer
@import 'footer';


// Adaptive
@media screen and (max-width: 1200px) {
    // What we do 
    .wwd--section {
        .wwd--flex--wrap {
            padding: 56px 0;
            margin-bottom: 56px;
            .wwd--text--wrap {
                h3 {
                    margin-left: 96px;
                }
                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    line-height: 4rem;
                    width: 100%;
                }
            }
            .wwwd--photo--wrap {
                width: 350px;
                height: 282px;
            }
        }
    }
}

@media screen and (max-width: 775px) {
    // What we do 
    .wwd--section {
        .wwd--flex--wrap {
            display: block;
            padding: 56px 0;
            margin-bottom: 56px;
            position: relative;
            .wwd--text--wrap {
                width: 100%;
                h3 {
                    margin-left: 96px;
                }
                h1 {
                    font-size: 2.5rem;
                    font-weight: 500;
                    line-height: 3rem;
                    width: min(50%, 350px);
                    margin-bottom: 60px;
                }
            }
            .wwwd--photo--wrap {
                width: 250px;
                height: 200px;
                position: absolute;
                top: 56px;
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    // What we do 
    .wwd--section {
        .wwd--flex--wrap {
            display: block;
            padding: 56px 0 0 0;
            margin-bottom: 40px;
            .wwd--text--wrap {
                margin-bottom: 32px;
                h1 {
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 2.5rem;
                    width: min(100%, 522px);
                    margin-bottom: 32px;
                }
            }
            .wwwd--photo--wrap {
                // width: 250px;
                // height: 200px;
                width: 100%;
                position: static;
                margin-inline: auto;
            }
        }
    }
}