@import 'style';

footer {
    background-color: #0B0706;
    color: white;
    .footer--wrap {
        padding-top: 96px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 96px;
        .logo--wrap {
            width: 125px;
            height: 44px;
            margin-top: -10px;
        }
        .footer--nav--wrap {
            width: min(100%, 366px);
            .footer--nav {
                display: flex;
                justify-content: space-between;
                .main--block--nav {
                    font-weight: 700;
                    line-height: 1.6rem;
                    ul {
                        margin-top: 24px;
                        li {
                            margin-bottom: 24px;
                            a {
                                color: white;
                                font-size: 0.875rem;
                                font-weight: 400;
                                line-height: 1.4rem;
                                &:hover {
                                    color: $secondary-text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .form--wrap {
            width: min(100%, 544px);
            div {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 3.5rem;
                margin-bottom: 32px;
                width: 440px;
            }
            form {
                position: relative;
                input {
                    width: 418px;
                    height: 64px;
                    background-color: transparent;
                    border-radius: 4px;
                    border: 1px solid rgba(235, 240, 249, 0.30);
                    &::placeholder {
                        // padding-left: 24px;
                        font-family: 'Roboto';
                        font-size: 1rem;
                        font-weight: 400;
                    }
                    &:focus {
                        outline: none;
                        border: 1px solid gray;
                        &::placeholder {
                            visibility: hidden;
                        }
                    }
                    &[type="email"] {
                        color: white;
                        line-height: 1.6rem;
                        font-weight: 400;
                        font-size: 1rem;
                        padding-left: 24px;
                    }
                }
                .btn--subscribe {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 136px;
                    height: 64px;
                    background-color: #fff;
                    font-weight: 500;
                    color: $primary-text-color;
                    font-family: 'Roboto';
                    font-size: 1rem;
                    &:hover {
                        background-color: lightgrey;
                        border: 3px solid white;
                    }
                }
            } 
        }
    }
}


// Adaptive
@media screen and (max-width: 1300px) {
    footer {
        .footer--wrap {
            .form--wrap {
                width: min(100%, 344px);
                div {
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 2.5rem;
                    margin-bottom: 32px;
                    width: 100%;
                }
                form {
                    width: 100%;
                    input {
                        width: 77%;
                        height: 48px;
                    }
                    .btn--subscribe {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 100px;
                        height: 48px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    footer {
        .footer--wrap {
            flex-direction: row;
            justify-content: start;
            gap: 64px;
            flex-wrap: wrap;
            .footer--nav--wrap {
                margin-left: 164px;
            }
        }
    }
}

@media screen and (max-width: 820px) {
    footer {
        .footer--wrap {
            padding-top: 48px;
            padding-bottom: 48px;
            gap: 40px;
            .footer--nav--wrap {
                margin-left: 0;
            }
        }
    }
}