@import 'style';

.supporters {
    font-weight: 500;
    letter-spacing: 0.125rem;
    color: $primary-text-color;
    margin-bottom: 34px;
}
.supporters--list {
    li {
        font-weight: 500;
        display: inline;
    }
}