@import 'style';
@import 'header';

// Top news 
.news--section {
    margin: 87px 0 85px;
    padding-top: 76px;
    .news--flex--wrap {
        display: flex;
        justify-content: space-between;
        .news--text {
            margin-left: 96px;
            width: min(100%, 496px);
            h1 {
                font-size: 3.5rem;
                font-weight: 700;
                line-height: 4.2rem;
                color: $primary-text-color;
                margin-bottom: 49px;
            }
            p {
                line-height: 1.6rem;
                margin-bottom: 32px;
            }
            .btn--read--more {
                width: 142px;
                height: 51px;
                text-align: center;
                background-color: $yellow-bg-color;
                margin-bottom: 89px;
                border: 3px solid transparent;
                &:hover {
                    background-color: $yellow-light-bg-color;
                    border: 3px solid $yellow-bg-color;
                }
                a {
                    font-weight: 500;
                    color: #000;
                    display: block;
                    line-height: 48px;
                }  
            }
        }
    }
}


// Contribution
@import 'contribution';


// Footer
@import 'footer';