 @import url('_fonts.scss');
 @import url('../fonts/icon/css/all.min.css'); 

 $black-color: #000000;
 $white-color: #ffffff;
 $dark-gray-color: #2C4058;
 $violet-color: #7E5AFF;
 $sky-blue-color: #55B7FF;

 *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button, a {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: $dark-gray-color;
}

.container {
    width: min(90%, 1170px);
    margin-inline: auto;
}

body {
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-weight: 400;
    color: $dark-gray-color;
}

.page--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    // background-color: lightgrey;
    height: 160px;
    text-align: center;
}

main {
    flex-grow: 1;
}

.uppercase {
    text-transform: uppercase;
}


// Header
.header--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    .logo--wrap {
        width: 241px;
        height: 54px;
        .logo--link {
            width: 100%;
            display: block;
        }
    }
    nav {
        .main--menu {
            display: flex;
            justify-content: center;
            gap: 93px;
            list-style: circle;
            li {
                color: white;
                font-family: "Source Sans Pro";
                font-size: 0.875rem;
                a {
                    color: $white-color;
                }
            }
        }
    }
    .sm--wrap {
        width: 160px;
        .social--media {
            display: flex;
            justify-content: space-between;
        }
    }
}

// First screen slider
.first--screen {
    position: relative;
    height: 100vh;
    background-image: url(../images/full-1screen-bg-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 0.5rem;
        color: $white-color;
        text-align: center;
        padding-top: 330px;
    }
    p {
        letter-spacing: 0.3375rem;
        color: $white-color;
        text-align: center;
    }
    .arrow--down {
        position: absolute;
        left: 49%;
        bottom: 50px;
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 50%;
        a {
            display: block;
            width: 100%;
            .fa-chevron-down {
                color: white;
                font-size: 15px;
                letter-spacing: 4.5px;
                line-height: 40px;
                margin-left: 11px;
            }
        }
    }
}

// What we do
.what--we--do--section {
    h2 {
        font-size: 2.75rem;
        font-weight: 700;
        margin-top: 130px;
        margin-bottom: 147px;
        position: relative;
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            left: 535px;
            top: -30px;
            border-top: 1px solid black;
            border-left: 100px solid #000;
        }
    }
    .center--photo {
        width: 630px;
        height: 470px;
    }
    .text--center {
        width: 470px;
        .prename {
            font-size: 1.375rem;
            padding-top: 94px;
        }
        h3 {
            font-size: 2.75rem;
            font-weight: 700;
            margin-bottom: 19px;
            text-wrap: nowrap;
        }
        p {
            font-family: "Open Sans";
            line-height: 1.875rem;
            margin-bottom: 40px;
        }
        .btn--details {
            width: 190px;
            border: 1px solid black;
            margin-bottom: 60px;
            height: 50px;
            text-align: center;
            a {
                display: block;
                font-size: 0.875rem;
                color: $black-color;
                line-height: 50px;
                width: 100%;
            }
        }
        .address--center {
            color: $black-color;
            font-family: "Open Sans";
            font-size: 0.9375rem;
            font-style: italic;
            .fa-location-dot {
                margin-right: 10px;
            }
        }
    }
    .trade--wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 177px;
        .blue--shadow {
            box-shadow: -260px -57px 0 $sky-blue-color;
        }
    }
    .commerce--wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 150px;
        .violet--shadow {
            box-shadow: 260px -57px 0 $violet-color;
        }
    }
}

// News
.latest--news--section {
    // background-color: lightgrey;
    padding-top: 150px;
    background-image: url(../images/bg-news-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 170px;
    h2 {
        font-size: 2.75rem;
        font-weight: 700;
        color: $white-color;
        text-align: center;
        margin-bottom: 90px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 535px;
            top: -30px;
            border-top: 1px solid #fff;
            border-left: 100px solid #fff;
        }
    }
    .article--wrap {
        display: flex;
        justify-content: space-between;
        article {
            width: 370px;
            background-color: #fff;
            .news--img {
                margin-bottom: 30px;
            }
            h4 {
                font-size: 1.375rem;
                font-weight: 700;
                width: 330px;
                margin-inline: auto;
                margin-bottom: 15px;
            }
            p {
                font-family: "Open Sans";
                width: 330px;
                margin-inline: auto;
                margin-bottom: 39px;
            }
            .news--autor {
                display: flex;
                flex-direction: row;
                padding-left: 20px;
                margin-bottom: 30px;
                gap: 20px;
                .photo--autor {
                    width: 60px;
                    aspect-ratio: 1;
                    img {
                        border-radius: 50%;
                    }
                }
                .name--autor {
                    margin-top: 7px;
                    margin-bottom: 6px;
                }
                .date--news {
                    color: #55B7FF;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

// Gallery
.gallery--section {
    h2 {
        font-size: 2.75rem;
        font-weight: 700;
        margin-top: 180px;
        margin-bottom: 90px;
        position: relative;
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            left: 535px;
            top: -30px;
            border-top: 1px solid black;
            border-left: 100px solid #000;
        }
    }
}