body {
    background-color: bisque;
}

.main--title {
    margin-top: 100px;
    margin-left: 100px;
    letter-spacing: 1px;
    text-decoration: underline;
}

.list--homework {
    list-style: square;
    margin-top: 50px;
    margin-left: 75px;
}

.link--homework {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.link--homework:hover {
    text-decoration: underline;
    color: gray;
}

.name--homework {
    margin-bottom: 10px;
}