@import url('_fonts.scss');

$text-gray-dark: #4B5D68;
$text-black: #212353;
$text-bg-violet-hover: #8A40EE;
$bg-violet: #9C69E2;
$bg-pink: #F063B8;
$bg-pink-hover: #EB4BAB;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button, a {
    transition: all .2s ease;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, 1170px);
    margin-inline: auto;
}

body {
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: $text-gray-dark;
}

.page--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

// Header
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    .header--wrap {
        display: flex;
        .logo--wrap {
            width: 45px;
            height: 35px;
            margin-right: 120px;
            position: relative;
            img {
                position: absolute;
                left: 0;
                top: 32px;
            }
        }
        .nav--btn--wrap{
            display: flex;
            justify-content: space-between;
            width: 1004px;
            line-height: 100px;
            .nav--wrap {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    a {
                        color: $text-gray-dark;
                        &:hover {
                            color: $text-bg-violet-hover;
                            cursor: pointer;
                        }
                    }
                }
            }
            .button--wrap {
                button {
                    width: 210px;
                    height: 60px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 1.6rem;
                    letter-spacing: 0.005rem;
                    color: $text-black;
                    text-align: center;
                    border: 1px solid $bg-violet;
                    border-radius: 50px;
                    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
                    background-color: #fff;
                    &:hover {
                        background-color: $bg-violet;
                        color: #fff;
                        svg {
                            > path {
                                stroke: #fff;
                            }
                        }
                    }
                    svg {
                        width: 20px;
                        height: 14px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

main {
    flex-grow: 1;
    margin-top: 100px;
}