@import url('_fonts.scss');
@import '_hamburger';

$text-gray-dark: #4B5D68;
$text-black: #212353;
$text-bg-violet-hover: #8A40EE;
$bg-violet: #9C69E2;
$bg-pink: #F063B8;
$bg-pink-hover: #EB4BAB;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

button, a {
    transition: all .2s ease;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, 1170px);
    margin-inline: auto;
}

body {
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: $text-gray-dark;
    // border: 1px solid tomato;
}

// Mobile menu + overlay
.page--overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($text-black, $alpha: .7);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.mobile--panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: rgb(241, 181, 226);
    z-index: 1001;
    transform: translateX(-100%);
    transition: all .4s ease;
    .panel--top {
        height: 50px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    nav {
        overflow-y: auto;
        height: calc(100vh - 40px);
        li {
            text-align: center;
        }
    }
}

.mobile--menu {
    a {
        display: inline-block;
        width: 100%;
        font-family: 'Montserrat';
        font-size: 1.375rem;
        padding: 10px 20px;
        background-color: transparent;
        &:hover {
            color: white;
            background-color: $bg-violet;
        }
    }
}

.hamburger {
    margin-left: 255px;
    margin-top: 5px;
}
.hamburger--wrapper {
    display: none;
    border: none;
    background-color: transparent;
}
#hamb--btn--mobile {
    display: block;
}

.open--mobile--menu {
    .page--overlay {
        opacity: 1;
        visibility: visible;
    }
    .mobile--panel {
        transform: translateX(0);
    }
}


h2 {
    font-family: 'Work Sans';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    color: $text-black;
}

h3 {
    font-family: 'Work Sans';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.95rem;
    color: $text-black;
}

.page--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.btn--request {
    width: 210px;
    height: 60px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.005rem;
    color: $text-black;
    text-align: center;
    border: 1px solid $bg-violet;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
    background-color: #fff;
    &:hover {
        background-color: $bg-violet;
        color: #fff;
        svg {
            > path {
                stroke: #fff;
            }
        }
    }
    &:focus {
        background-color: rgb(53, 18, 53);
        color: #fff;
        border: 1px solid lightgray;
        svg {
            > path {
                stroke: #fff;
            }
        }
    }
    svg {
        width: 20px;
        height: 14px;
        margin-left: 20px;
    }
}

// Header
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    background-color: rgba($color: #fff, $alpha: .9);
    .header--wrap {
        display: flex;
        .logo--wrap {
            width: 45px;
            height: 35px;
            margin-right: 120px;
            position: relative;
            a {
                position: absolute;
                left: 0;
                top: 32px;
            }
        }
        .nav--btn--wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: min(85.9%, 1005px);
            line-height: 100px;
            // position: relative;
            .nav--wrap {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    font-size: 1rem;
                    line-height: 1.6rem;
                    a {
                        color: $text-gray-dark;
                        &:hover {
                            color: $text-bg-violet-hover;
                            cursor: pointer;
                        }
                        &:focus {
                            background-color: lightgrey;
                            color: $text-bg-violet-hover;
                            border: 1px solid lightgray;
                        }
                    }
                }
            }
            .button--wrap {
                // position: relative;
                .hamburger--wrapper {
                    // position: absolute;
                    // left: 240px;
                    // top: 38px;
                }
            }
        }
    }
}

main {
    flex-grow: 1;
    margin-top: 100px;
}
// Button learn more
.learn--more {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
    a {
        display: inline-block;
        width: 100%;
        color: white;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
    }
}

// About us section
.about--us {
    margin: 100px 0 135px;
    .about--us--wrap{
        position: relative;
        h1 {
            width: 601px;
            font-family: 'Work Sans';
            font-size: 5rem;
            font-style: normal;
            font-weight: 700;
            color: $text-black;
            line-height: 5.5rem;
            margin-bottom: 50px;
        }
        .about--intro {
            width: 370px;
            margin-bottom: 50px;
        }
        .purple--btn {
            background-color: $bg-violet;
            margin-bottom: 35px;
            &:hover {
                background-color: $text-bg-violet-hover;
                cursor: pointer;
            }
            &:focus {
                background-color: rgb(53, 18, 53);
                color: #fff;
                border: none;
            }
        }
        .img--about--wrap {
            width: min(66%, 770px);
            position: absolute;
            right: 0;
            bottom: -35px;
            z-index: -1;
        }
    }
}

// High-level section
.high-level {
    margin-bottom: 113px;
    .cont--rose {
        background-color: #FDE8F5;
        border-radius: 50px;
        padding: 75px 0 72px;
        .high-level--wrap {
            width: min(88%, 1030px);
            margin-inline: auto;
            display: flex;
            justify-content: space-between;
            .pic--wrap {
                width: min(34.2%, 400px);
                aspect-ratio: 1.025;
                img {
                    width: 400px;
                    height: 410px;
                }
            }
            .info--wrap {
                width: min(48.54%, 500px);
                margin: 35px 0;
                .high-level--title {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

// Features
.features {
    margin-bottom: 116px;
    .features--title {
        margin-bottom: 44px;
        text-align: center;
    }
    .features--info {
        width: min(54.53%, 638px);
        margin: 0 auto 80px;
        text-align: center;
    }
    .features--flex--wrap {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 50px 200px;
        .flex--item {
            width: min(34.2%, 400px);
            border-radius: 50px;
            position: relative;
            .loupe--img {
                width: 230px;
            }
            .laptop--img {
                width: 241px;
            }
            .printer--img {
                width: 245px;
            }
            .key--img {
                width: 230px;
            }
            .position--img {
                position: absolute;
                left: -170px;
                top: 110px;
            }
            .flex--card--wrap {
                display: flex;
                flex-direction: column;
                margin: 60px 0 62px 100px;
                gap: 20px;
                position: relative;
                > p {
                    width: 230px;
                    height: 180px;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                    word-wrap: break-word;
                }
                > div {
                    > a {
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 1.6rem;
                        letter-spacing: 0.005rem;
                        color: $text-black;
                        &:hover {
                            color: $bg-violet;
                            svg {
                                -webkit-animation: runArrow 1s linear 1;
                                animation: runArrow 1s linear 1;

                            }
                        }
                        &:focus {
                            background-color: lightgrey;
                            color: $bg-violet;
                            border: none;
                        }
                        svg {
                            width: 20px;
                            height: 14px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .green {
            background-color: #F0FAF9;
            position: relative;
            z-index: -3;
            .search--bg--img {
                position: absolute;
                right: 50px;
                top: 20px;
                z-index: -2;
            }
        }
        .violet {
            background-color: #F6F0FD;
            position: relative;
            z-index: -3;
            .hours--bg--img {
                position: absolute;
                right: 20px;
                bottom: 20px;
                z-index: -2;
            }
        }
        .rose {
            background-color: #FEF0F8;
            position: relative;
            z-index: -3;
            .print--bg--img {
                position: absolute;
                right: 20px;
                top: 20px;
                z-index: -2;
            }
        }
        .blue {
            background-color: #EAF6FC;
            position: relative;
            z-index: -3;
            .security--bgL--img {
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
            }
            .security--bgS--img {
                position: absolute;
                right: 20px;
                bottom: 20px;
                rotate: 15deg;
                z-index: -2;
            }
        }
    }
}

// Animation
// Анімація працювала, але в якийсь момент перестала це робити, бо ховер також перестав працювати. Скоріш за все після автопрефіксера

@-webkit-keyframes runArrow {
    0% {
        transform: scale(1) translateX(0);
    }
    50% {
        transform: scale(1.25) translateX(20px);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}
@keyframes runArrow {
    0% {
        transform: scale(1) translateX(0);
    }
    50% {
        transform: scale(1.25) translateX(20px);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

// Testimonials
.testimonials {
    margin-bottom: 115px;
    .testimonials--wrap {
        background-color: #CCDDFF;
        padding-bottom: 80px;
        border-radius: 50px;
        position: relative;
        z-index: -2;
        .bg--left--pic {
            position: absolute;
            left: 0;
            top: 0;
            width: 540px;
            height: 320px;
            z-index: -1;
        }
        .bg--right--pic {
            position: absolute;
            right: 0;
            top: 0;
            width: 580px;
            aspect-ratio: 1;
            z-index: -1;
        }
        .testimonials--title {
            padding-top: 74px;
            margin-bottom: 75px;
            padding-right: 7px;
            color: $text-gray-dark;
            text-align: center;
        }
        .feedback--wrap {
            display: flex;
            justify-content: space-between;
            width: min(88%, 1030px);
            margin-inline: auto;
            .feedback {
                background-color: #fff;
                width: min(45.14%, 465px);
                border-radius: 50px;
                position: relative;
                article {
                    width: min(87%, 405px);
                    margin: 50px 30px;
                    padding-left: 105px;
                    .name--feedback {
                        font-size: 1rem;
                        line-height: 1.6rem;
                        color: $text-black;
                        font-weight: 500;
                    }
                    .link--feedback {
                        font-size: 0.875rem;
                        line-height: 1.4rem;
                        letter-spacing: 0.00875rem;
                        color: $bg-violet;
                        margin-bottom: 18px;
                        display: inline-block;
                        &:hover {
                            color: $bg-pink-hover;
                        }
                        &:focus {
                            color: $bg-pink-hover;
                            background-color: lightgray;
                            border: none;
                        }
                    }
                    .text--feedback {
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.6rem;
                        width: 300px;
                    }
                }
                .img--frame {
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    left: 30px;
                    top: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }
}

// Try for free
.try {
    margin-bottom: 94px;
    .add--flex--wrap {
        display: flex;
        justify-content: space-between;
        .add--wrap {
            .try--title {
                margin-bottom: 20px;
            }
        }
        .btn--wrap {
            margin-top: 18px;
            .pink--btn {
                background-color: $bg-pink;
                display: inline-block;
                margin-right: 23px;
                margin-bottom: 20px;
                &:hover {
                    background-color: $bg-pink-hover;
                }
                &:focus {
                    background-color: rgb(102, 33, 78);
                    border: none;
                }
            }
        }
    }
}

// Footer
footer {
    .footer--wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
        .contacts {
            width: 275px;
            .company--wrap {
                display: flex;
                gap: 20px;
                align-items: center;
                margin-bottom: 57px;
                .logo--container {
                    width: 49px;
                    a {
                        width: 100%;
                    }
                }
                .logo--name {
                    color: $text-black;
                    font-weight: 600;
                    line-height: 2rem;
                    font-size: 1.25rem;
                }
            }
            .contacts--wrap {
                address {
                    font-size: 1rem;
                    color: $text-black;
                    letter-spacing: 0.01rem;
                    padding-bottom: 10px;
                    font-style: normal;
                    span {
                        margin-left: 5px;
                    }
                }
                > div {
                    margin-bottom: 10px;
                    > a {
                        font-weight: 400;
                        color: $text-black;
                        letter-spacing: 0.01rem;
                        font-size: 1rem;
                        &:hover {
                            color: $text-bg-violet-hover;
                        }
                        &:focus {
                            color: $text-bg-violet-hover;
                            background-color: lightgray;
                            border: none;
                        }
                    }
                }
            }
                
        }
        .footer--nav--wrap {
            width: min(57.26%, 670px);
            display: flex;
            justify-content: space-between;
            > nav {
                > div {
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.6rem;
                    color: $text-black;
                    margin-bottom: 33px;
                    margin-top: 8px;
                }
                .about--nav {
                    width: 81px;
                }
                .help--nar {
                    width: 71px;
                }
                > ul {
                    li {
                        margin-bottom: 8px;
                        a {
                            font-size: 1rem;
                            line-height: 1.6rem;
                            color: $text-gray-dark;
                            &:hover {
                                color: $text-bg-violet-hover;
                            }
                            &:focus {
                                color: $text-bg-violet-hover;
                                background-color: lightgrey;
                                border: none;
                            }
                        }
                    }
                }
            }
            .media--wrap {
                width: 180px;
                > div {
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.6rem;
                    color: $text-black;
                    margin-bottom: 33px;
                    margin-top: 10px;
                }
                > ul {
                    display: flex;
                    justify-content: space-between;
                       a {
                        svg {
                            width: 50px;
                            height: 50px;
                        }
                        &:hover {
                            .fb--svg {
                                path {
                                    fill: #3B5998;
                                }
                                circle {
                                    fill: white;
                                    stroke: #3B5998;
                                    opacity: 1;
                                }
                            }
                            .tw--svg {
                                path {
                                    fill: #00ACEE;
                                }
                                circle {
                                    fill: white;
                                    stroke: #00ACEE;
                                    opacity: 1;
                                }
                            }
                            .inst--svg {
                                path {
                                    fill: #C13584;
                                }
                                circle {
                                    fill: white;
                                    stroke: #C13584;
                                    opacity: 1;
                                }
                            }
                        }
                        &:focus {
                            border: none;
                            .fb--svg {
                                path {
                                    fill: #3B5998;
                                }
                                circle {
                                    fill: white;
                                    stroke: #3B5998;
                                    opacity: 1;
                                }
                            }
                            .tw--svg {
                                path {
                                    fill: #00ACEE;
                                }
                                circle {
                                    fill: white;
                                    stroke: #00ACEE;
                                    opacity: 1;
                                }
                            }
                            .inst--svg {
                                path {
                                    fill: #C13584;
                                }
                                circle {
                                    fill: white;
                                    stroke: #C13584;
                                    opacity: 1;
                                }
                            }
                        }
                       
                    }
                }

            }
        }
    }
    .rights--wrap {
        width: 275px;
        color: $text-black;
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1.35rem;
        letter-spacing: 0.0075rem;
        margin-bottom: 120px;
    }
}

// Адаптив
@media screen and (max-width: 1210px) {
    // Testimonials--Адаптив
    .testimonials {
        .testimonials--wrap {
            .feedback--wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 70px;
                .feedback {
                    width: min(90%, 800px);
                    article {
                        width: 80%;
                        .text--feedback {
                            width: 100%;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    // Features--Адаптив
    .features {
        margin-bottom: 100px;
        .features--info {
            width: 70%;
            margin: 0 auto 80px;
            text-align: center;
        }
        .features--flex--wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 80px;
            .flex--item {
                width: min(68.37%, 800px);
                border-radius: 50px;
                position: relative;
                .loupe--img {
                    width: 115px;
                }
                .laptop--img {
                    width: 120px;
                }
                .printer--img {
                    width: 123px;
                }
                .key--img {
                    width: 115px;
                }
                .position--img {
                    position: absolute;
                    left: -75px;
                    top: 110px;
                }
                .flex--card--wrap {
                    display: flex;
                    flex-direction: column;
                    margin: 60px 10px 62px 60px;
                    gap: 20px;
                    position: relative;
                    word-wrap: break-word;
                    > p {
                        width: 90%;
                        height: 100%;
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1.8rem;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }    
}

@media screen and (max-width: 1045px) {
    // About-us--Адаптив
    .about--us {
        margin: 10px 0 135px;
        .about--us--wrap{
            position: relative;
            h1 {
                width: min(59.8%, 700px);
                font-family: 'Work Sans';
                font-size: 3rem;
                font-style: normal;
                font-weight: 700;
                color: $text-black;
                line-height: 4rem;
                margin-bottom: 35px;
            }
            .about--intro {
                width: 370px;
                margin-bottom: 35px;
            }
            .img--about--wrap {
                width: min(51.3%, 600px);
                margin-inline: auto;
                position: absolute;
                right: 0;
                bottom: -35px;
                z-index: -1;
            }
        }
    }
    // High-level--Адаптив
    .high-level {
        margin-bottom: 100px;
        .cont--rose {
            .high-level--wrap {
                width: min(88%, 1030px);
                margin-inline: auto;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                .pic--wrap {
                    width: min(21.36%, 250px);
                    aspect-ratio: 1.025;
                    margin-left: 40%;
                    img {
                        width: 250px;
                        height: 256px;
                    }
                }
                .info--wrap {
                    width: min(68.37%, 800px);
                    .high-level--title {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 935px) {
    // Header--Адаптив
    .header--wrap {
        display: flex;
        justify-content: space-between;
        .nav--btn--wrap {
            .nav--wrap {
                display: none;
                width: 50px;
            }
            .btn--before--hamb {
                margin-right: 30px;
                display: none;
            }
        }
        .hamburger--wrapper {
            display: inline-block;
            margin-top: 40px;
        }
        
    }
    // Try-for-free--Адаптив
    .try {
        margin-bottom: 94px;
        .add--flex--wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            .add--wrap {
                .try--title {
                    margin-bottom: 20px;
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
            .btn--wrap {
                margin-top: 18px;
                .pink--btn {
                    width: 135px;
                    height: 45px;
                    a {
                        margin: 0 auto;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 45px;
                    }
                }
            }
        }
    }
    .btn--request {
        width: 135px;
        height: 45px;
        line-height: 45px;
        svg {
            display: none;
        }
    }
    // Footer-Adaptive
    footer {
        .footer--wrap {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 60px;
            margin-bottom: 60px;
            .footer--nav--wrap {
                width: min(80%, 670px);
                display: flex;
                justify-content: space-between;
                gap: 30px;
                .media--wrap {
                    width: 60px;
                    > div {
                        margin-bottom: 10px;
                    }
                    > ul {
                        display: block;
                    }

                }
            }
        }
        .rights--wrap {
            width: 275px;
            margin-inline: auto;
            margin-bottom: 80px;
        }
    }
}

@media screen and (max-width: 710px) {
    // High-level-Adaptive
    .high-level {
        margin-bottom: 100px;
        .cont--rose {
            padding: 20px 0;
            .high-level--wrap {
                width: min(88%, 1030px);
                margin-inline: auto;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                .pic--wrap {
                    display: none;
                }
                .info--wrap {
                    width: min(90%, 800px);
                    .high-level--title {
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    // Features--Адаптив
    .features {
        margin-bottom: 90px;
        .features--flex--wrap {
            .flex--item {
                width: min(90%, 800px);
                .position--img {
                    display: none;
                }
            }
        }
    }
    // About-us--Адаптив
    .about--us {
        margin: 10px 0 50px;
        .about--us--wrap{
            h1 {
                width: 80%;
                line-height: 3rem;
            }
            .about--intro {
                width: 100%;
                margin-inline: auto;
                margin-bottom: 35px;
            }
            .img--about--wrap {
                width: min(100%, 500px);
                position: static;
            }
        }
    }
    // Header--Адаптив
     .header--wrap {
        display: flex;
        position: relative;
        // flex-direction: column;
        .nav--btn--wrap {
            .nav--wrap {
                display: none;
            }
            .button--wrap {
                .btn--before--hamb {
                    margin-right: 30px;
                    display: none;
                }
            }
        }
        .ham--btn--header {
            display: inline-block;
            margin-top: 40px;
            position: absolute;
            left: 70px;
            top: -7px;
        }
    }
}
