@import url('_fonts.scss');

$text-gray-dark: #4B5D68;
$text-black: #212353;
$text-bg-violet-hover: #8A40EE;
$bg-violet: #9C69E2;
$bg-pink: #F063B8;
$bg-pink-hover: #EB4BAB;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button, a {
    transition: all .2s ease;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, 1170px);
    margin-inline: auto;
}

body {
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: $text-gray-dark;
}

h2 {
    font-family: 'Work Sans';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    color: $text-black;
}

h3 {
    font-family: 'Work Sans';
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.95rem;
    color: $text-black;
}

.page--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

// Header
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    background-color: rgba($color: #fff, $alpha: .9);
    .header--wrap {
        display: flex;
        .logo--wrap {
            width: 45px;
            height: 35px;
            margin-right: 120px;
            position: relative;
            a {
                position: absolute;
                left: 0;
                top: 32px;
            }
        }
        .nav--btn--wrap{
            display: flex;
            justify-content: space-between;
            width: 1004px;
            line-height: 100px;
            .nav--wrap {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    a {
                        color: $text-gray-dark;
                        &:hover {
                            color: $text-bg-violet-hover;
                            cursor: pointer;
                        }
                    }
                }
            }
            .button--wrap {
                button {
                    width: 210px;
                    height: 60px;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 1.6rem;
                    letter-spacing: 0.005rem;
                    color: $text-black;
                    text-align: center;
                    border: 1px solid $bg-violet;
                    border-radius: 50px;
                    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
                    background-color: #fff;
                    &:hover {
                        background-color: $bg-violet;
                        color: #fff;
                        svg {
                            > path {
                                stroke: #fff;
                            }
                        }
                    }
                    svg {
                        width: 20px;
                        height: 14px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

main {
    flex-grow: 1;
    margin-top: 100px;
}
// Button learn more
.learn--more {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    a {
        display: inline-block;
        width: 100%;
        color: white;
        line-height: 60px;
        margin: 0 auto;
        text-align: center;
    }
}

// About us section
.about--us {
    margin: 100px 0;
    .about--us--wrap{
        position: relative;
        h1 {
            width: 601px;
            font-family: 'Work Sans';
            font-size: 5rem;
            font-style: normal;
            font-weight: 700;
            color: $text-black;
            line-height: 5.5rem;
            margin-bottom: 50px;
        }
        .about--intro {
            width: 370px;
            margin-bottom: 50px;
        }
        .purple--btn {
            background-color: $bg-violet;
            margin-bottom: 35px;
            &:hover {
                background-color: $text-bg-violet-hover;
                cursor: pointer;
            }
        }
        .img--about--wrap {
            width: 66%;
            position: absolute;
            left: 401px;
            top: 82px;
            z-index: -1;
        }
    }
}

// High-level section
.high-level {
    margin-bottom: 120px;
    .high-level--wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #FDE8F5;
        border-radius: 50px;
        .pic--wrap {
            width: 400px;
            margin: 75px 0 75px 70px;
        }
        .info--wrap {
            width: 500px;
            margin: 110px 70px 110px 0;
            .high-level--title {
                margin-bottom: 40px;
            }
        }
    }
}

// Features
.features {
    margin-bottom: 120px;
    .features--title {
        margin-bottom: 50px;
        text-align: center;
    }
    .features--info {
        width: 638px;
        margin: 0 auto 80px;
        text-align: center;
    }
    .features--flex--wrap {
        display: flex;
        margin-left: 170px;
        flex-wrap: wrap;
        gap: 50px 200px;
        .flex--item {
            width: 400px;
            border-radius: 50px;
            position: relative;
            .loupe--img {
                width: 230px;
            }
            .laptop--img {
                width: 241px;
            }
            .printer--img {
                width: 245px;
            }
            .key--img {
                width: 230px;
            }
            .position--img {
                position: absolute;
                left: -170px;
                top: 110px;
            }
            .flex--card--wrap {
                display: flex;
                flex-direction: column;
                margin: 62px 0 62px 100px;
                gap: 20px;
                > p {
                    width: 230px;
                    height: 180px;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                }
                > div {
                    a {
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 1.6rem;
                        letter-spacing: 0.005rem;
                        color: $text-black;
                        &:hover {
                            color: $bg-violet;
                            svg {
                                animation: runArrow 1s linear 1;

                            }
                        }
                        svg {
                            width: 20px;
                            height: 14px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .green {
            background-color: #F0FAF9;
        }
        .violet {
            background-color: #F6F0FD;
        }
        .rose {
            background-color: #FEF0F8;
        }
        .blue {
            background-color: #EAF6FC;
        }
    }
}
// Animation
@keyframes runArrow {
    0% {
        transform: scale(1) translateX(0);
    }
    50% {
        transform: scale(1.25) translateX(20px);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

