@import 'fonts';

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}

a {
    text-decoration: none;
    display: block;
}

button, a {
    transition: all .2s ease;
    bottom: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    width: min(90%, 1320px);
    margin-inline: auto;
}

body {
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #fff;
}

// Header
header {
    height: 84px;
    background-color: #5373FD;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 84px;
        .logo-wrap {
            line-height: 1.75rem;
            a {
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: 0.15rem;
                color: #fff;
                line-height: 1.75rem;
                padding-top: 4px;
            }
        }
        .nav-wrap {
            ul {
                display: flex;
                gap: 40px;
                li {
                    a {
                        font-family: 'Aleo';
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        letter-spacing: 0.0875rem;
                        color: #fff;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

// First screen
.first-screen {
    height: calc(100vh - 84px);
    background-image: url(../images/HeaderBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.25rem;
        padding-top: 175px;
        margin-bottom: 8px;
    }
    p {
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: 0.42625rem;
        margin-bottom: 48px;
    }
    .scroll-anchor {
        a {
            font-size: 0.875rem;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            color: #fff;
            position: relative;
            &::after {
                content: '';
                width: 10px;
                height: 10px;
                border-left: 2px solid white;
                border-bottom: 2px solid white;
                border-radius: 1px;
                position: absolute;
                bottom: -6px;
                right: calc(50% - 5px);
                transform: rotate(-0.125turn);
                transition: all .2s ease;
            }
            &:hover {
                color: #999;
                &::after {
                    border-color: #999;
                }
            }
        }
    }
}

.search-wrap {
    width: min(90%, 647px);
    position: relative;
    margin: 0 auto 170px;
    input {
        width: 100%;
        height: 60px;
        border: none;
        &::placeholder {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            padding: 20px 0 20px 36px;
            color: #999;;
        }
    }
    button {
        width: 139px;
        height: 52px;
        background-color: #5373FD;
        color: #fff;
        font-family: 'Aleo';
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.0875rem;
        position: absolute;
        top: 4px;
        right: 5px;
        border: none;
        padding-left: 25px;
        &::before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left: 24px;
            top: 16px;
            background-image: url(../images/search-white.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:hover {
            background-color: #3150d6;
        }
    }
}

// Why Choose Us
.why-section {
    padding: 124px 0;
    margin-top: 84px;
    background-color: rgb(50, 32, 20);
    background-image: url(../images/WhyBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .container {
        display: flex;
        gap: 136px;
        .text-content {
            width: min(50%, 648px);
            padding: 66px 0;
            h2 {
                margin-bottom: 24px;
                font-family: 'Aleo';
                font-size: 2.25rem;
                line-height: 2.5rem;
                font-weight: 400;
            }
            p {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.75rem;
                letter-spacing: 0.1rem;
                margin-bottom: 32px;
            }
            .explore-wrap {
                width: 213px;
                height: 60px;
                background-color: #5373FD;
                text-align: center;
                a {
                    font-family: 'Aleo';
                    font-size: 1rem;
                    line-height: 1.25rem;
                    letter-spacing: 0.07rem;
                    color: #fff;
                    height: 100%;
                    width: 100%;
                    padding-top: 21px;

                }
                &:hover {
                    background-color: #3150d6;
                }
            }
        }
        .pic-content {
            .img-wrap {
                width: 350px;
                aspect-ratio: 35 / 22;
            }
            .img-up {
                margin-bottom: 16px;
            }
            .img-down {
                margin-left: 74px;
            }
        }
    }
}

// Travel steps
.travel-steps {
    background-color: #333;
    padding: 207px 0 59px;
    ul {
        display: flex;
        justify-content: space-around;
        position: relative;
        &::before {
            content: '';
            background-image: url(../images/dots-lines.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 66%;
            height: 90px;
            position: absolute;
            top: -187px;
            left: 17%;
        }
        li {
            font-family: 'Aleo';
            font-size: 2.25rem;
            line-height: 2.5rem;
        }
        .search-icon {
            position: relative;
            &::before {
                content: '';
                background-image: url(../images/search-blue.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 64px;
                height: 64px;
                position: absolute;
                top: -84px;
                left: calc(50% - 32px);
            }
        }
        .select-icon {
            position: relative;
            &::before {
                content: '';
                background-image: url(../images/check-circle.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 64px;
                height: 64px;
                position: absolute;
                top: -84px;
                left: calc(50% - 32px);
            }
        }
        .enjoy-icon {
            position: relative;
            &::before {
                content: '';
                background-image: url(../images/like-icon.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 64px;
                height: 64px;
                position: absolute;
                top: -84px;
                left: calc(50% - 32px);
            }
        }
    }
}

// Book now
.cottage-part {
    background-color: rgb(144, 64, 144);
    padding: 220px 0 120px;
    background-image: url(../images/CottageBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sunset-part {
    background-color: rgb(211, 124, 62);
    padding: 220px 0 120px;
    background-image: url(../images/SunsetBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .proposition-card {
        margin-left: auto;
    }
}
.proposition-card {
    width: min(90%, 648px);
    background: rgba(35, 35, 35, 0.90);
    padding: 44px 32px;
    .country {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.75rem;
        letter-spacing: 0.125rem;
        margin-bottom: 16px;
    }
    .city {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 16px;
        font-weight: 400;
    }
    .info {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75rem;
        letter-spacing: 0.1rem;
        margin-bottom: 24px;
    }
    .btn-book-now {
        width: 213px;
        height: 60px;
        background-color: #5373FD;
        color: #fff;
        font-family: 'Aleo';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.07rem;
        border: none;
        &:hover {
            cursor: pointer;
            background-color: #3150d6;
        }
    }
}

// What Our Tourists Say
.feedback {
    padding: 120px 0 180px;
    background-color: rgb(63, 63, 63);
    background-image: url(../images/WhatTouristBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    h2 {
        font-family: 'Aleo';
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 60px;
        text-align: center;
    }
    .feedback-wrap {
        display: flex;
        .photo-wrap {
            width: 440px;
            aspect-ratio: 44 / 28;
            flex-shrink: 0;
        }
        .comment-wrap {
            background-color: #333;
            padding: 48px 65px 48px 60px;
            .name {
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 1.75rem;
                margin-bottom: 16px;
            }
            .comment-text {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.75rem;
                letter-spacing: 0.1rem;
                text-indent: 34px;
                position: relative;
                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -6px;
                    left: 0;
                    background-image: url(../images/quote-left.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

// Footer
footer {
    padding: 80px 0;
    background-color: #000;
    text-align: center;
    .logo-wrap {
        a {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.75rem;
            letter-spacing: 0.15rem;
            color: #fff;
            margin-bottom: 8px;
        }

    }
    .slogan {
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.175rem;
        margin-bottom: 20px;
    }
    .media-wrap {
        ul {
            display: flex;
            gap: 32px;
            justify-content: center;
            a {
                svg {
                    fill: #fff;
                    transition: all .2s ease;
                }
                &:hover {
                    svg {
                        fill: #5373FD;
                    }
                }
            }
            
        }
    }
}
