@import 'fonts';
@import 'hamburger'; 

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    -o-object-fit: cover;
       object-fit: cover;
}

a {
    text-decoration: none;
    display: block;
}

button, a {
    transition: all .2s ease;
    bottom: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    width: min(90%, 1320px);
    margin-inline: auto;
}

body {
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #fff;
}

.page-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000, .7);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

.menu-panel {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 350px;
    background-color: #5373FD;
    z-index: 1001;
    transform: translateX(100%);
    transition: all .4s ease;
    visibility: hidden;
    .mobile-menu {
        margin-top: 50px;
        li {
            margin-bottom: 30px;
            text-align: center;
            a {
                font-family: 'Aleo';
                font-size: 1.25rem;
                line-height: 1.25rem;
                letter-spacing: 0.0875rem;
                color: #fff;
                &:active {
                    color: #000;
                }
                &:focus {
                    color: #000;
                    border: 1px solid black;
                }
            }
        }
    }
}

.open-mobile-menu {
    .page-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-panel {
        transform: translateX(0);
        visibility: visible;
    }
}


// Header
header {
    height: 84px;
    background-color: #5373FD;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 84px;
        .logo-wrap {
            line-height: 1.75rem;
            a {
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: 0.15rem;
                color: #fff;
                line-height: 1.75rem;
                padding-top: 4px;
            }
        }
        .nav-wrap {
            ul {
                display: flex;
                gap: 40px;
                li {
                    a {
                        font-family: 'Aleo';
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        letter-spacing: 0.0875rem;
                        color: #fff;
                        &:hover {
                            color: #000;
                        }
                        &:active {
                            color: #2f0e2f;
                        }
                        &:focus {
                            color: #000;
                            border: 1px solid black;
                        }
                    }
                }
            }
        }
        .hamburger-wrap {
            display: none;
        }
    }
}

// First screen
.first-screen {
    height: calc(100vh - 84px);
    background-image: url(../images/HeaderBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.25rem;
        padding-top: 175px;
        margin-bottom: 8px;
    }
    p {
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: 0.42625rem;
        margin-bottom: 48px;
    }
    .scroll-anchor {
        a {
            font-size: 0.875rem;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            color: #fff;
            position: relative;
            &::after {
                content: '';
                width: 10px;
                height: 10px;
                border-left: 2px solid white;
                border-bottom: 2px solid white;
                border-radius: 1px;
                position: absolute;
                bottom: -6px;
                right: calc(50% - 5px);
                transform: rotate(-0.125turn);
                transition: all .2s ease;
            }
            &:hover {
                color: #999;
                &::after {
                    border-color: #999;
                }
            }
            &:active {
                color: #747474;
                &::after {
                    border-color: #747474;
                }
            }
            &:focus {
                color: #999;
                border: 1px solid black;
                &::after {
                    border-color: #999;
                }
            }
        }
    }
}

.search-wrap {
    width: min(90%, 647px);
    position: relative;
    margin: 0 auto 170px;
    input {
        width: 100%;
        height: 60px;
        border: none;
        &::-webkit-input-placeholder {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            padding: 20px 0 20px 36px;
            color: #999;
        }
        &::-moz-placeholder {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            padding: 20px 0 20px 36px;
            color: #999;
        }
        &:-ms-input-placeholder {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            padding: 20px 0 20px 36px;
            color: #999;
        }
        &::-ms-input-placeholder {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            padding: 20px 0 20px 36px;
            color: #999;
        }
        &::placeholder {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.175rem;
            padding: 20px 0 20px 36px;
            color: #999;
            font-family: 'Josefin Sans';
            font-weight: 400;
        }
    }
    button {
        width: 139px;
        height: 52px;
        background-color: #5373FD;
        color: #fff;
        font-family: 'Aleo';
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.0875rem;
        position: absolute;
        top: 4px;
        right: 5px;
        border: none;
        padding-left: 25px;
        &::before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left: 24px;
            top: 16px;
            background-image: url(../images/search-white.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:hover {
            background-color: #3150d6;
        }
        &:active {
            background-color: #223794;
        }
        &:focus {
            background-color: #3150d6;
            border: 1px solid black;
        }
    }
}

// Why Choose Us
.why-section {
    padding: 124px 0;
    background-color: rgb(50, 32, 20);
    background-image: url(../images/WhyBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .container {
        display: flex;
        gap: 136px;
        .text-content {
            width: min(50%, 648px);
            padding: 66px 0;
            h2 {
                margin-bottom: 24px;
                font-family: 'Aleo';
                font-size: 2.25rem;
                line-height: 2.5rem;
                font-weight: 400;
            }
            p {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.75rem;
                letter-spacing: 0.1rem;
                margin-bottom: 32px;
            }
            .explore-wrap {
                width: 213px;
                height: 60px;
                background: linear-gradient(45deg, #486BFE 0 66%, #5373FD 66% 100%);
                background-size: 200% 100%;
                background-position: right;
                transition: background-position .5s ease;
                text-align: center;
                a {
                    font-family: 'Aleo';
                    font-size: 1rem;
                    line-height: 1.25rem;
                    letter-spacing: 0.07rem;
                    color: #fff;
                    height: 100%;
                    width: 100%;
                    padding-top: 21px;

                }
                &:hover {
                    background-position: left;
                }
                &:active {
                    background-color: #3a58cf;
                }
                &:focus {
                    border: 1px solid black;
                }
            }
        }
        .pic-content {
            .img-wrap {
                width: 350px;
                aspect-ratio: 35 / 22;
            }
            .img-up {
                margin-bottom: 16px;
            }
            .img-down {
                margin-left: 74px;
            }
        }
    }
}

// Travel steps
.travel-steps {
    background-color: #333;
    padding: 207px 0 59px;
    ul {
        display: flex;
        justify-content: space-around;
        position: relative;
        &::before {
            content: '';
            background-image: url(../images/dots-lines.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 66%;
            height: 90px;
            position: absolute;
            top: -187px;
            left: 17%;
        }
        li {
            font-family: 'Aleo';
            font-size: 2.25rem;
            line-height: 2.5rem;
        }
        .search-icon {
            position: relative;
            &::before {
                content: '';
                background-image: url(../images/search-blue.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 64px;
                height: 64px;
                position: absolute;
                top: -84px;
                left: calc(50% - 32px);
            }
        }
        .select-icon {
            position: relative;
            &::before {
                content: '';
                background-image: url(../images/check-circle.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 64px;
                height: 64px;
                position: absolute;
                top: -84px;
                left: calc(50% - 32px);
            }
        }
        .enjoy-icon {
            position: relative;
            &::before {
                content: '';
                background-image: url(../images/like-icon.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 64px;
                height: 64px;
                position: absolute;
                top: -84px;
                left: calc(50% - 32px);
            }
        }
    }
}

// Book now
.cottage-part {
    background-color: rgb(144, 64, 144);
    padding: 220px 0 120px;
    background-image: url(../images/CottageBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sunset-part {
    background-color: rgb(211, 124, 62);
    padding: 220px 0 120px;
    background-image: url(../images/SunsetBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .proposition-card {
        margin-left: auto;
    }
}
.proposition-card {
    width: min(90%, 648px);
    background: rgba(35, 35, 35, 0.90);
    padding: 44px 32px;
    .country {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.75rem;
        letter-spacing: 0.125rem;
        margin-bottom: 16px;
    }
    .city {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 16px;
        font-weight: 400;
    }
    .info {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75rem;
        letter-spacing: 0.1rem;
        margin-bottom: 24px;
    }
    .btn-book-now {
        width: 213px;
        height: 60px;
        background: linear-gradient(45deg, #486BFE 0 67%, #5373FD 67% 100%);
        background-size: 200% 100%;
        background-position: right;
        transition: background-position .5s ease;
        color: #fff;
        font-family: 'Aleo';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.07rem;
        border: none;
        &:hover {
            cursor: pointer;
            background-position: left;
        }
        &:active {
            background-color: #3a58cf;
        }
        &:focus {
            border: 1px solid black;
        }
    }
}

// What Our Tourists Say
.feedback {
    padding: 120px 0 180px;
    background-color: rgb(63, 63, 63);
    background-image: url(../images/WhatTouristBackground-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    h2 {
        font-family: 'Aleo';
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 60px;
        text-align: center;
    }
    .feedback-wrap {
        display: flex;
        .photo-wrap {
            width: 440px;
            aspect-ratio: 44 / 28;
            flex-shrink: 0;
        }
        .comment-wrap {
            background-color: #333;
            padding: 48px 65px 48px 60px;
            .name {
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 1.75rem;
                margin-bottom: 16px;
            }
            .comment-text {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.75rem;
                letter-spacing: 0.1rem;
                text-indent: 34px;
                position: relative;
                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -6px;
                    left: 0;
                    background-image: url(../images/quote-left.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

// Footer
footer {
    padding: 80px 0;
    background-color: #000;
    text-align: center;
    .logo-wrap {
        a {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.75rem;
            letter-spacing: 0.15rem;
            color: #fff;
            margin-bottom: 8px;
        }

    }
    .slogan {
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0.175rem;
        margin-bottom: 20px;
    }
    .media-wrap {
        ul {
            display: flex;
            gap: 32px;
            justify-content: center;
            a {
                svg {
                    fill: #fff;
                    transition: all .2s ease;
                }
                &:hover {
                    svg {
                        fill: #5373FD;
                    }
                }
                &:active {
                    svg {
                        fill: #283c94;
                    }
                }
                &:focus {
                    border: 1px solid black;
                    svg {
                        fill: #5373FD;
                    }
                }
            }
            
        }
    }
}


// RWD

    // Header
    @media screen and (max-width: 924px){
        header {
            .container {
                .nav-wrap {
                    display: none;
                }
                .hamburger-wrap {
                    display: block;
                }
            }
        }
    }

    // First screen
    @media screen and (max-width: 660px){
        .first-screen {
            .container {
                h1 {
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
                p {
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                }
            }
        }
        .search-wrap {
            input {
                height: 40px;
                &::-webkit-input-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                    letter-spacing: 0.08rem;
                }
                &::-moz-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                    letter-spacing: 0.08rem;
                }
                &:-ms-input-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                    letter-spacing: 0.08rem;
                }
                &::-ms-input-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                    letter-spacing: 0.08rem;
                }
                &::placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                    letter-spacing: 0.08rem;
                }
            }
            button {
                height: 40px;
                top: 0;
                right: 0;
                &::before {
                    top: 11px;
                }
            }
        }
    }
    @media screen and (max-width: 548px){
        .search-wrap {
            input {
                height: 40px;
                &::-webkit-input-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                }
                &::-moz-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                }
                &:-ms-input-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                }
                &::-ms-input-placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                }
                &::placeholder {
                    font-size: 0.875rem;
                    line-height: 0.875rem;
                    padding: 12px;
                }
            }
            button {
                width: 40px;
                height: 40px;
                font-size: 0;
                
                &::before {
                    left: 14px;
                }
                &:hover {
                    background-color: #3150d6;
                }
            }
        }
    }

    // Why Choose Us
    @media screen and (max-width: 924px){
        .why-section {
            .container {
                flex-direction: column;
                gap: 60px;
                .text-content {
                    width: 100%;
                    padding: 0;
                    text-align: center;
                    .explore-wrap {
                        margin-inline: auto;
                    }
                }
                .pic-content {
                    display: flex;
                    justify-content: space-between;
                    gap: 30px;
                    .img-up {
                        margin-bottom: 0;
                    }
                    .img-down {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px){
        .why-section {
            .container {
                .pic-content {
                    display: none;
                }
            }
        }
    }

    // Travel steps
    @media screen and (max-width: 880px){
        .travel-steps {
            ul {
                li {
                    font-family: 'Aleo';
                    font-size: 1.5rem;
                    line-height: 1.75rem;
                }
            }
        }
    }
    @media screen and (max-width: 660px){
        .travel-steps {
            padding: 150px 0 40px;
            ul {
                justify-content: space-between;
                &::before {
                    top: -125px;
                }
                .search-icon {
                    &::before {
                        width: 40px;
                        height: 40px;
                        top: -64px;
                        left: calc(50% - 20px);
                    }
                }
                .select-icon {
                    &::before {
                        width: 40px;
                        height: 40px;
                        top: -64px;
                        left: calc(50% - 20px);
                    }
                }
                .enjoy-icon {
                    &::before {
                        width: 40px;
                        height: 40px;
                        top: -64px;
                        left: calc(50% - 20px);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 548px){
        .travel-steps {
            padding: 110px 0 40px;
            ul {
                flex-direction: column;
                gap: 100px;
                align-items: center;
                &::before {
                    z-index: -1;
                }
                .search-icon {
                    &::before {
                        width: 40px;
                        height: 40px;
                        top: -64px;
                        left: calc(50% - 20px);
                    }
                }
                .select-icon {
                    &::before {
                        width: 40px;
                        height: 40px;
                        top: -64px;
                        left: calc(50% - 20px);
                    }
                }
                .enjoy-icon {
                    &::before {
                        width: 40px;
                        height: 40px;
                        top: -64px;
                        left: calc(50% - 20px);
                    }
                }
            }
        }
    }

    // Book now
    @media screen and (max-width: 924px){
        .cottage-part {
            padding: 120px 0 120px;
        }
        .sunset-part {
            padding: 120px 0 120px;
        }
    }
    @media screen and (max-width: 780px){
        .cottage-part {
            padding: 50px 0 50px;
        }
        .sunset-part {
            padding: 50px 0 50px;
        }
    }
    @media screen and (max-width: 660px){
        .cottage-part {
            padding: 0;
            .container {
                width: 100%;
            }
        }
        .sunset-part {
            padding: 0;
            .container {
                width: 100%;
            }
        }
        .proposition-card {
            width: 100%;
            .container {
                width: 100%;
            }
        }
    }

    // What Our Tourists Say
    @media screen and (max-width: 924px){
        .feedback {
            padding: 60px 0 60px;
            h2 {
                margin-bottom: 40px;
            }
            .feedback-wrap {
                .photo-wrap {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 548px){
        .feedback {
            padding: 40px 0 40px;
            h2 {
                font-size: 1.75rem;
                line-height: 2rem;
                margin-bottom: 30px;
            }
            .feedback-wrap {
                .comment-wrap {
                    padding: 20px;
                }
            }
        }
    }
